.row.flex-xl-nowrap {
    background: white;
}











.media .media-body {
    padding-left: 10px;
    font-size: 20px;
    text-align: left;
    font-family: 'RobotoRegular';
    margin-top: 6px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: middle;
}
.top-version p {
    font-size: 12px;
}
img.avatar-forum {
    width: 44px;
    height: 44px;
    max-width: none;
    border: 2px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(210,210,210,1);
    -moz-box-shadow: 1px 2px 3px 0px rgba(210,210,210,1);
    box-shadow: 1px 2px 3px 0px rgba(210,210,210,1);
}
.media-middle {
    vertical-align: middle;
    display: table-cell;
}
.media, .media-body {
    padding: 0;
}

.id-login .row>.col-sm-3 {
    padding: 20px 15px;
    display: flex;
    align-items: center;
}
i.fas.fa-search {
    margin-top: 12px;
}

ul {
list-style: none;
}

li.sub-menu-main {
    padding: 0px 10px;
    font-size: 19px;
}
.menu-main {
    margin-top: 12px;
    
}
.menu-main ul {
   padding: 0 0 0 0;
}
    

.col-sm-10.col-xs-10.id-login {
    padding: 0px 0px 0px 5px;
}
.row.menu-container {
    padding: 0 0 0 7px;
}

.col-sm-3.menu-list-right {
    border-right: 1px solid #c2c2c2;
}

li.sub-menu-main i {
    /* padding: 3px 10px; */
    margin-right: 10px;
    color: blue;
}

li.sub-menu-extra {
    padding: 0px 10px;
    font-size: 19px;
}
.menu-extra {
    margin-top: 12px;
    
}
.menu-extra ul {
   padding: 0 0 0 0;
}
    

li.sub-menu-extra i {
    /* padding: 3px 10px; */
    margin-right: 10px;
       color: blue;
}



li.add-sub-menu-main i {
    /* padding: 3px 10px; */
    margin-right: 10px;
    color: blue;
}

li.add-sub-menu-extra {
    padding: 0px 10px;
    font-size: 19px;
}
.add-menu-extra {
    margin-top: 0px;
    
}
.add-menu-extra ul {
   padding: 0 0 0 0;
}
    

li.add-sub-menu-extra i {
    /* padding: 3px 10px; */
    margin-right: 10px;
    color: blue;
}

.col-sm-12.add-menu-extra ul li p {
    color: blue;
}
li.sub-menu-extra p.retail-color i {
    color: red;
}


.row.background-view.height-bg {
    height: 150px;
    background-image: url(media/image-slider-2.jpg);
}

.space-100px {
    height: 100px;
}
div#tab1 .header-menu p span {
    font-size: 30px;
    color: white;
    font-weight: 550;
}
div#tab1 .header-menu p i {
    background: #0000004d;
    padding: 10px;
    font-size: 20px;
    color: white;
}
div#tab1 .header-menu p span {
    color: white;
    font-size: 30px;
    font-weight: 550;
}

div#tab1 .header-menu span i {
    background: #00000024;
    padding: 9px 14px;
    font-size: 20px;
    margin-top: 4px;
    color: white;
}
div#tab1 span {
    margin-right: 10px;
}
.col-sm-3.right-1 span {
    float: right;
}


li.sub-menu-main a {
    color: #212529;
}

ul.tabs-sub li a p .fa-star {
    float: right;
    top: -38px;
    position: relative;
}
.col-sm-12.menu-main ul li .number-main {
    float: right;
    position: relative;
    top: -41px;
    font-size: 16px;
    color: b3b3b3;
}
.row.menu-container ul li:hover {
    background: #F5F6F7;
    border-left: 1px solid blue;
    /* text-decoration: none; */
}
.row.menu-container ul li:active {
    background: #F5F6F7;
    /* text-decoration: none; */
    border-left: 1px solid blue;
}
.main-sub-main ul li:active{
 background: #F5F6F7;
    /* text-decoration: none; */

    }

a:hover{
    text-decoration: none;
}



/*hhhhhhhhhhhhhhhhhhhhh/*/



