.row.flex-xl-nowrap {
    background: white;
}

.media .media-body {
    padding-left: 10px;
    font-size: 20px;
    text-align: left;
    font-family: 'RobotoRegular';
    margin-top: 6px;
}

.media-body,
.media-left,
.media-right {
    display: table-cell;
    vertical-align: middle;
}

.top-version p {
    font-size: 12px;
}

img.avatar-forum {
    width: 44px;
    height: 44px;
    max-width: none;
    border: 2px solid #fff;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: 1px 2px 3px 0px rgba(210, 210, 210, 1);
    -moz-box-shadow: 1px 2px 3px 0px rgba(210, 210, 210, 1);
    box-shadow: 1px 2px 3px 0px rgba(210, 210, 210, 1);
}

.media-middle {
    vertical-align: middle;
    display: table-cell;
}

.media,
.media-body {
    padding: 0;
}

.id-login .row>.col-sm-3 {
    padding: 20px 15px;
    display: flex;
    align-items: center;
}

i.fas.fa-search {
    margin-top: 12px;
}

ul {
    list-style: none;
}

li.sub-menu-extra {
    padding: 10px 10px;
    font-size: 18px;
    height: 40px;
    border-left: 3px solid transparent;
}

li.sub-menu-main {
    padding: 10px 10px;
    font-size: 18px;
    height: 40px;
    border-left: 3px solid transparent;
}

.menu-main {
    margin-top: 12px;
}

.menu-main ul {
    padding: 0 0 0 0;
}

.col-sm-10.col-xs-10.id-login {
    padding: 0px 0px 0px 5px;
}

.row.menu-container {
    padding: 0 0 0 7px;
}

.menu-list-right {
    border-right: 1px solid #c2c2c2;
}

li.sub-menu-main i {
    /* padding: 3px 10px; */
    margin-right: 10px;
    color: #0D6DE1;
}

div.change-class div span {
    color: #212529;
    font-size: 18px;
    padding: 0px 15px;
}



.menu-extra ul {
    padding: 0 0 0 0;
}

li.sub-menu-extra i {
    /* padding: 3px 10px; */
    margin-right: 10px;
    color: #0D6DE1;
}

li.add-sub-menu-main i {
    /* padding: 3px 10px; */
    margin-right: 10px;
    color: #0D6DE1;
}

li.add-sub-menu-extra {
    padding: 9px 10px;
    font-size: 19px;
    height: 40px;
}

.add-menu-extra {
    margin-top: 0px;
}

.add-menu-extra ul {
    padding: 0 0 0 0;
}

li.add-sub-menu-extra i {
    /* padding: 3px 10px; */
    margin-right: 10px;
    color: #0D6DE1;
}

.task-sharing1 p.closed-taskmanger {
    right: 9px;
    width: 49px;
    height: 49px;
    padding: 14px 21px;
    position: fixed;
    margin-top: -12px;
}

.change-class.taskmanager-day .bg .delete-todo {
    font-size: 12px;
    position: relative;
    left: 15px;
    top: 5px;
    padding: 18px 18px;
}

.change-class.taskmanager-day .bg .delete-todo:hover {
    background: #FAFBFC;
}

li.sub-menu-extra a p {
    color: black;
}

.change-class.menu-main {
    margin-top: 0;
}

.background-task1 .mr-2 button {
    width: 47px;
    height: 47px;

    z-index: 9999;
    margin-top: -14px;

    border: none;
    background: white;
}

.background-task1 .mr-2 button:hover {
    background: #eee;
}

div#menu hr.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.col-sm-12.add-menu-extra ul li p {
    color: #0D6DE1;
}

li.sub-menu-extra p.retail-color i {
    color: #683FCC;
}

.row.background-view.height-bg {
    height: 150px;
    background-image: url(media/image-slider-2.jpg);
}

.space-100px {
    height: 88px;
}

div.item2 .header-menu p span {
    font-size: 30px;
    color: white;
    font-weight: 550;
}

div.item2 .header-menu p i {
    background: #0000004d;
    padding: 10px;
    font-size: 20px;
    color: white;
}

div.item2 .header-menu p span {
    color: white;
    font-size: 30px;
    font-weight: 550;
}

div.item2 .header-menu span i {
    background: #00000024;
    padding: 9px 14px;
    font-size: 20px;
    margin-top: 4px;
    color: white;
    margin-right: 10px;
}


.col-sm-3.right-1 span {
    float: right;
}

li.sub-menu-main a {
    color: #212529;
}

.container-dev {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}


/*ul.tabs-sub li a p .fa-star {
    float: right;
    top: -38px;
    position: relative;
}*/

.col-sm-12 ul li .number-main {
    float: right;
    position: relative;
    bottom: 30px;
    font-size: 16px;
    color: b3b3b3;
}

.row.menu-container ul li:hover {
    background: #F5F6F7;
    border-left: 3px solid blue;
    /* text-decoration: none; */
}

.row.menu-container ul li:active {
    background: #F5F6F7;
    /* text-decoration: none; */
    border-left: 1px solid blue;
}



a:hover {
    text-decoration: none;
}

div.change-class div a span {
    color: #212529;
    font-size: 18px;
    padding: 0px 15px;
}

div.change-class div a {
    font-size: 20px;
    color: #212529;
}

.add-a-task .color-change i {
    color: #4E64FC;
}

.add-a-task .color-change span {
    color: #4E64FC !important;
    ;
}

div.change-class div i {
    font-size: 17px;
}

hr.no-margin {
    margin-top: 0px;
    margin-bottom: 0px;
}

hr.no-margin-bot {
    margin-top: -12px;
    margin-bottom: 6px;
}

div.change-class div.mr-2 i {
    /* top: 27px; */
    padding: 0px 7px;

}


/*hhhhhhhhhhhhhhhhhhhhh/*/

.container {
    display: flex;
}

.flex-container {
    display: -webkit-box;
    flex-direction: column-reverse;
}

.d-flex.p-2.mb-2.test:hover.display-none-test {
    display: block;
}

.display-none-test {
    display: none;
}

.taskmanager.main-sub-main {
    margin-top: 0px;
    padding: 1px 0px;
}


div.item3 {
    border-left: 1px solid #c2c2c2;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    background: #F5F5F5;
}

.taskmanager.main-sub-main {
    background: #fff;
}

.comback {
    float: right;
    font-size: 22px;
}

.menu-list-right {
    /* height: fit-content; */
    height: 100vh;
    overflow: scroll;
    line-height: normal;
    overflow-x: hidden;
}

.menu-list-center {
    height: 100vh;

    line-height: normal;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #8C8C8C;
}

.item1 {
    width: 280px;
}

.item2 {
    width: calc(100% - 280px);
}

.item2x {
    width: calc(100% - 630px);
}

.item3 {
    width: 350px;
    display: none;
}

.sub-main-top {
    background: #fff;
}

.tabs.col-sm-12.menu-main {
    height: 40px;
    margin-top: 0;
}

.taskmanager-brg.d-flex.p-2.mb-2 {
    background: #fff;
    height: 38px;
    top: -18px;
    position: relative;
    padding: 0px 3px;
}

hr.no-margin2 {
    margin-bottom: 20px;
    margin-top: -4px;
    z-index: 999;
    position: relative;
}

.add-a-task {
    margin-bottom: -7px !important;
}

p.closed-taskmanger {
    font-size: 16px;
}

.taskmanager-brg.d-flex.p-2.mb-2 .mr-auto {
    margin-left: 11px;
    margin-top: 6px;
    position: relative;
    top: 14px;
}

.taskmanager-brg.d-flex.p-2.mb-2 #menu {
    height: 175px;
}

.taskmanager-sub.main-sub-main-sub.two {
    height: 182px;
}

.taskmanager-brg.d-flex.p-2.mb-2 .mr-2 {
    width: 55px;
    height: 56px;
    padding: 15px 23px;
    bottom: 0;
    position: relative;
    top: -8px;
    LEFT: 17PX;
}

.taskmanager-sub.main-sub-main-sub {
    padding: 2px 5px;
    background: #F5F5F5;
}

.taskmanager-sub.main-sub-main-sub.btn-sub-four {
    margin-top: -11px;
}

div.change-class.taskmanager-day {
    background: #fff;
    position: relative;
    margin-bottom: 15px;

    top: 4px;
}

div.change-class textarea {
    border: none;
    padding: 9px;
}

div.change-class.input-text {
    height: 80px;
}

.sheet-item-task-2 {
    height: 55px;
    margin-top: 10px;
}

div#newlisttab2 .add-sub-list .board-task2 i {
    color: gray;
}

.sheet-item-task-1 {
    height: calc(100% - 70px);
    overflow: auto
}

.sheet-item-task-2 .change-class div i {
    font-size: 20px;
    margin-top: 5px;
}

.sheet-item-task-2 .change-class.taskmanager-day {
    padding: 0px;
    margin-top: 0px;
    background: #fff;
    position: relative;
    margin-bottom: 0px;
    /* bottom: 82px; */
    top: 1px;
}

div#newlisttab2 .add-sub-menu-extra {
    padding: 3px 17px;
    height: 32px;
}

div#newlisttab2 .add-sub-menu-extra input {
    border: none;
}

.sheet-item-task-2 .taskmanager-sub.main-sub-main-sub {
    padding: 4px;
}

.sheet-item-task-2 .taskmanager-brg.d-flex.p-2.mb-2 i {
    padding: 5px 2px;
}

.sheet-item-task-2 .change-class div a i {
    font-size: 21px;
    color: #767678;

}


.mr-2 {
    justify-content: flex-end;
    display: flex;
}









.tab-menu-2 {
    position: absolute;
    z-index: 1;
    display: none;
    background: white;
    border: 1px solid #E6E6E6;
    width: 300px;
}


.taskmanager-brg :hover .tab-menu-2 {
    display: block;
}





/* Nếu dùng bootstrap 4 thì bỏ tất cả flex đi  */

.board-task {
    position: relative;
    width: 100%;
    height: 150px;

    overflow: hidden;
}

.pond,
.background-task {
    display: flex;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.background-task {

    border-radius: 0 0 0 10px;
    align-items: flex-end;
    justify-content: flex-end;
    position: absolute;

}

.pond {
    position: relative;
    margin-left: 20px;

    top: 13px;
    align-items: flex-end;
}

.task-sharing,
.title-task {
    position: relative;

    overflow: hidden;
}



.board-task1 {
    position: relative;
    width: 100%;
    height: 50px;

    overflow: hidden;
}

.pond1,
.background-task1 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 11px 16px;
}

.background-task1 {
    z-index: 0;
    border-radius: 0 0 0 10px;

    justify-content: flex-end;

}

.pond1 {
    z-index: 9;
}



.board-task2 {
    position: relative;
    width: 100%;
    height: 50px;

    overflow: hidden;
}

.pond2,
.background-task2 {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px 16px;
}

.background-task2 {
    z-index: 10;
    border-radius: 0 0 0 10px;

    justify-content: flex-end;

}

.pond2 {
    z-index: 9;
}

.task-sharing1,
.title-task1 {
    position: relative;

    overflow: hidden;
}

.pond-center {
    margin-top: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}





div#menu {
    width: 336px;
    background: white;
    margin-left: -3px;

}

#menu ul {
    list-style-type: none;
    left: -36px;
}

#menu li {
    position: relative;
    height: 55px;
    display: inline-block;
    width: 100%;


}


#menu a {
    text-decoration: none;

    display: block;
}

.sub-menu li {
    display: none;
}

.sub-menu {
    display: none;
    position: absolute;
}

#menu li:hover .sub-menu {
    display: block;
    position: relative;
    z-index: 99;
}

.sub-menu li {
    margin-left: 0 !important;
}

#menu ul li ul {
    border: 1px solid #eee;
    position: relative;
    left: 11px;
    background: white;
    top: -15px;
}

#menu ul li ul li a {
    left: -30px;
    position: relative;
    top: 0px;
}

#menu ul li ul li {
    position: relative;
    left: -40px;
}

#menu ul li ul li .board-task1 {
    overflow: unset;
}

#menu ul li ul li .task-sharing1 {
    position: relative;
    left: 50px;
}

#menu .background-task2 .bg span {
    color: #B3B4B5;
    font-size: 15px;
}

#menu li.tab-menu-1 a {
    top: 6px;
    position: relative;
}







.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: none;

    background-color: white;
    padding: 2px 1px;
    border-radius: 8px;


}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}









.img-replace {

    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}

.cd-popup {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(214, 214, 214, 0.788);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
    display: flex;
    z-index: 99;
    justify-content: center;
    align-items: center;
}

.cd-popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-container p {
    padding: 15px 0;
}

.cd-popup-container .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}


.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
    background-color: #c5ccd8;
}

.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup-container .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

hr.no-margin-top-bot {
    margin-bottom: 0;
    margin-top: 0;
}

.main-sub-main.fix-scoll.p-2.mb-2 {
    margin-top: 7px;
}

.cd-popup-option {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    z-index: 999;
    opacity: 0;
    visibility: hidden;

}

.cd-popup-option.is-visible {
    opacity: 1;
    height: 100%;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container-option .pond1 span {
    padding: 0px 15px;
    color: black;
}

div.item2 .header-menu .background-task2 span i {
    background: none;
    color: gray;
    margin-top: unset;
    padding: 2px 0;
    font-size: 18px;
}

.cd-popup-option .board-task1:hover {
    background: #F5F6F7;
}

.cd-popup-container-option .pond1 {
    padding: 15px 14px;
}

.cd-popup-container-option {

    max-width: 400px;
    position: absolute;
    display: block;
    width: 100%;
    right: 0;
    border: 1px solid #EDEDED;
    top: 138px;
    background: #FFF;
    text-align: center;
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.cd-popup-container-option p {
    padding: 15px 0;
}

.cd-popup-container-option .cd-buttons:after {
    content: "";
    display: table;
    clear: both;
}

.cd-popup-container-option .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}



.cd-popup-container-option .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}

.cd-popup-container-option .cd-popup-close::before,
.cd-popup-container-option .cd-popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
}

.cd-popup-container-option .cd-popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
}

.cd-popup-container-option .cd-popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
}

.is-visible .cd-popup-container-option {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}


div#newlist span input {
    width: 80%;
    border: none;
}





.board-task-list {
    position: relative;
    width: 100%;
    height: 50px;

    overflow: hidden;
}

.pond-list,
.background-list {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px 13px;
}

.background-list {
    z-index: 0;
    border-radius: 0 0 0 10px;

    justify-content: flex-end;

}

.pond-list {
    z-index: 0;




}

.add-sub-list .delete-todo {
    font-size: 12px;
    position: absolute;
    top: 17px;
    right: 12px;
}

.add-sub-list .delete-todo {
    margin-right: -4px;
    font-size: 12px;
}

li.add-sub-list {
    font-size: 18px;
}

li.add-sub-list i {
    color: #4E64FC;
}

li.add-sub-list .bg span {
    padding: 0px 9px;
}

div#newlist p.number-main {
    left: 3px;
    top: 2px;
    /* position: relative; */
    /* font-size: 16px; */
    color: #b3b3b3; 
}
div#newlist1 input {
    border: none;
}

div#newlist1 .add-sub-menu-extra {
    margin-left: 8px;
}

div#newlist1 .add-sub-list i {
    color: gray;
}

.addlist-2::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #0D6DE1;
}

div#newlist1 input:focus {
    border: none;
}

div.item2 .header-menu .background-task1 span i {
    background: none;
    padding: 6px 0px;
    font-size: 16px;
    margin-top: -3px;
    color: gray;
}



.sheet-item-task-2 .bg.mr-2 {
    right: 14px;
    bottom: 20px;
    position: fixed;
}

.sheet-item-task-2 .pond1,
.sheet-item-task-2 .background-task1 {

    width: auto;

}

div#newlist1 {
    margin-top: 11px;
}

#menu.sub-menu.pond1, #menu.sub-menu.background-task1 {
    padding: 1px 5px !important;
}



  
/* Hide the default checkbox */ 
input[type=checkbox] { 
    visibility: hidden; 
} 
  
/* creating a custom checkbox based 
    on demand */ 
.geekmark { 
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 20px; 
    width: 20px; 
    border-radius: 50%;
    border: 1px solid;
} 
  

.script input:checked ~ .geekmark { 
    background-color: #6CB100; 
} 
  

.geekmark:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 
  

.script input:checked ~ .geekmark:after { 
    display: block; 
} 
  

.script .geekmark:after { 
    content: '';
    width: 0.47rem;
    height: 1rem;
    position: absolute;
    top: 0.33rem;
    right: 0.75rem;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(40deg);
    transform-origin: center;
    color: white;
} 