<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/css.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
</head>

<body>
    <div class="container-dev" id="app">
        <div class="flex-container">
            <div class="item item1">
                <div class="menu-list-right">
                    <div class="">
                        <div class=" top-version">
                            <p>Microsoft To-Do</p>
                        </div>
                        <div class="col-sm-10 id-login">
                            <div id="user-login">
                                <user-login v-for="item in userlogin" v-bind:todo="item" v-bind:key="item.id">
                                </user-login>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="">
                                <span>
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                        <div class="row menu-container">
                            <div class="col-sm-12 menu-main">
                                <ul class="tabs" id="btn-tabs">
                                    <select-tab v-for="item in selectTab" v-bind:todo="item" v-bind:key="item.id">
                                    </select-tab>
                                </ul>
                                <hr style="width: 80%;">
                            </div>
                            <div class="col-sm-12 add-menu-extra" id="newlist">
                                <div class="add-menu-extra">
                                    <ul>
                                        <li class="add-sub-list" v-for="(todo,index) in todos" id="delete-list-sub">
                                            <div class="board-task-list">
                                                <div class="pond-list">
                                                    <div class="mr-auto title-task1">
                                                        <div class="bg animated pulse infinite">
                                                            <i class="fas fa-tasks"></i><span>{{ todo.text }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="background-list">
                                                    <div>
                                                        <p class="number-main">{{ totalTodos }}</p>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="add-menu-extra">
                                    <ul>
                                        <li class="add-sub-menu-extra">
                                            <p class="btn-primary-submit">
                                                <i class="fas fa-plus" @click="addTodo"></i><span><input type="text" placeholder="New List" v-model.trim="newTodo" @keyup.enter="addTodo"> </span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item2 items">
                <div class=" menu-list-center">
                    <div class="row" id="taball">
                        <div v-for="todo in tabMain">
                            <div class="col-sm-12" v-bind:id="todo.idmain">
                                <div class="header-menu row background-view height-bg" v-bind:style="todo.imageheader">
                                    <div class="board-task">
                                        <div class="pond">
                                            <div class="title-task">
                                                <div class="bg animated pulse infinite">
                                                    <p><span>{{todo.namemenuMain}}</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="background-task">
                                            <div class="task-sharing">
                                                <div class="bg">
                                                    <div class="mr-2 cd-popup-trigger"><span><i class="far fa-share-square"></i></span></div>
                                                </div>
                                            </div>
                                            <div class="cd-popup" role="alert">
                                                <div class="cd-popup-container">
                                                    <p>Sharing</p>
                                                    <hr class="no-margin-top-bot">
                                                    <ul class="cd-buttons">
                                                        <li><a href=""></a></li>
                                                    </ul>
                                                    <a href="#0" class="cd-popup-close img-replace">Close</a>
                                                </div> <!-- cd-popup-container -->
                                            </div> <!-- cd-popup -->
                                            <div class="task-sharing">
                                                <div class="bg">
                                                    <div class="mr-2 cd-popup-option-show"><span><i class="fas fa-ellipsis-h"></i></span></div>
                                                </div>
                                            </div>
                                            <div class="cd-popup-option">
                                                <div class="cd-popup-container-option">
                                                    <div class="board-task1">
                                                        <div class="pond1">
                                                            <div class="title-task1">
                                                                <div class="bg animated pulse infinite">
                                                                    <i class="fas fa-pencil-alt"></i><span>Reaname
                                                                        list</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="board-task1">
                                                        <div class="pond1">
                                                            <div class="title-task1">
                                                                <div class="bg animated pulse infinite">
                                                                    <i class="fas fa-sort-amount-down"></i><span>Sort</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="background-task1">
                                                            <div class="task-sharing1">
                                                                <div class="bg">
                                                                    <div class=""><span><i class="fas fa-chevron-right"></i></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="board-task1">
                                                        <div class="pond1">
                                                            <div class="title-task1">
                                                                <div class="bg animated pulse infinite">
                                                                    <i class="fas fa-check-circle"></i><span>Hide
                                                                        conpleterd tasks</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="board-task1">
                                                        <div class="pond1">
                                                            <div class="title-task1">
                                                                <div class="bg animated pulse infinite">
                                                                    <i class="fas fa-thumbtack"></i><span>Pin to
                                                                        start</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="no-margin-top-bot">
                                                    <!--nơi cần bắt sự kiện để xóa nguyên list board-task1 trong newlist1 -->
                                                    <div class="board-task1" onclick="add_child()">
                                                        <div class="pond1">
                                                            <div class="title-task1">
                                                                <div class="bg animated pulse infinite">
                                                                    <i class="far fa-trash-alt"></i><span>Delete
                                                                        list</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="newlist1">
                        <div class="add-menu-extra" onclick="openTab1()"> 



                            <ul v-for="(todo,index) in todoss" v-bind:id="todo.idmain" id="delete-list-sub2"  >
                                <!--Đang cần bắt sự kiện ĐỂ TẠO RA CÁC SỰ KIỆN ITEM 3 -->
                                <li class="add-sub-list">
                                    <div class="board-task1">
                                        <div class="pond1">
                                            <div class="title-task1">
                                                <div class="bg animated pulse infinite">
                                                        
                                                      
                                                               
                                                       
                                                  
                                                        <label id="checkBox" class="script"> 
      
                                                                <input type="checkbox" v-model="isTrue"    class="checkbox-input"> 
                                                                <span class="geekmark"></span> 
                                                            </label> 
                                                      




                                                    <span>{{ todo.text }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="background-task1">
                                            <div class="task-sharing1">
                                                <div class="bg">
                                                    <i class="far fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr class="no-margin">
                                </li>
                                <!--KẾT THÚC BẮT SỰ KIỆN ITEM3-->
                            </ul>
                        </div>
                        <div class="add-menu-extra">
                            <ul>
                                <li class="add-sub-menu-extra">
                                    <p class="btn-primary-submit">
                                        <i class="fas fa-plus" @click="addTodos"></i><span><input class="addlist-2" type="text" placeholder="New List" v-model.trim="newTodos" @keyup.enter="addTodos">
                                        </span>
                                    </p>
                                </li>
                            </ul>
                            <!-- KHI TẠO MỚI MỘT NEW LIST THÌ SẼ TỰ TẠO RA CÁC SỰ KIỆN TRONG ITEM 3-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item3">
                <div class="sheet-item-task-1">
                    <div class="taskmanager main-sub-main p-2 mb-2">
                        <div class="change-class menu-main">
                            <!-- SỰ KIỆN 1-->
                            <div class="event-1">
                                <div class="add-menu-extra" id="newlisttab2">
                                    
                                    <div class="event-1">
                                        <div class="add-menu-extra">
                                            <ul>
                                                <li class="add-sub-list" v-for="(todo,index,newlisttab2) in todos2" >
                                                    <div class="board-task2">
                                                        <div class="pond2">
                                                            <div class="title-task2">
                                                                <div class="bg animated pulse infinite">

                                                                            <label id="checkBox" class="script"> 
                                                                                <input type="checkbox" v-model="isTrue"  class="checkbox-input"> 
                                                                                <span class="geekmark"></span> 
                                                                            </label> 
                                                                            
                                                                            
                                                                            
                                                                            <span>{{ todo.text }}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="background-task2">
                                                            <div class="">
                                                                <div class="bg">
                                                                    <span class="delete-todo" @click="deleteTodo2(index)">X</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <hr class="no-margin">
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        <div class="add-menu-extra">
                                            <ul>
                                                <li class="add-sub-menu-extra">
                                                    <p class="btn-primary-submit">
                                                        <i class="fas fa-plus" @click="addTodo2"></i><span><input class="addlist-2" type="text" placeholder="New List" v-model.trim="newTodo2" @keyup.enter="addTodo2"> </span>
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    
                                </div>
                            
                            </div>
                            <!-- KẾT THÚC SỰ KIỆN 1-->
                    </div>
                    <div class="taskmanager-sub main-sub-main-sub btn-sub-one">
                        <div class="change-class taskmanager-day">
                            <!-- SỰ KIỆN 2-->
                            <div class="event-2">
                                    <div class="board-task2">
                                            <div class="pond2">
                                                <div class="title-task2">
                                                    <div class="bg animated pulse infinite"><i class="far fa-sun"></i><span>Add to
                                                            My Day</span></div>
                                                </div>
                                            </div>
                                            <div class="background-task2">
                                                <div>
                                                    <div class="bg"><span class="delete-todo">X</span></div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <!-- KẾT THÚC SỰ KIỆN 2-->
                        </div>
                    </div>
                    <div class="taskmanager-sub main-sub-main-sub two">
                        <div class="change-class taskmanager-day">
                            <!-- SỰ KIỆN 3-->
                            <div class="event-3">
                                    <div class="taskmanager-brg d-flex p-2 mb-2">
                                            <div id="menu">
                                                <ul class="mr-auto remind-me tab-menu-all">
                                                    <li class="tab-menu-1"><a href="#"><i class="far fa-clock"></i><span>Remind
                                                                me</span></a>
                                                        <hr>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>10.00 am</i></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>Web,9.00 pm</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>Mon, 8.00 Am</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <hr class="no-margin">
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Pick a date &
                                                                                    time</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="tab-menu-1"><a href="#"><a><i class="far fa-clock"></i><span>Add due
                                                                    date</span></a></a>
                                                        <hr>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>10.00 am</i></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>Web,9.00 pm</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>Mon, 8.00 Am</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="tab-menu-1"><a href="#"><a><i class="far fa-clock"></i><span>Repeat</span></a></a>
                                                        <hr>
                                                        <ul class="sub-menu">
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>10.00 am</i></span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>Web,9.00 pm</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="board-task1">
                                                                    <div class="pond1">
                                                                        <div class="title-task1">
                                                                            <div class="bg animated pulse infinite">
                                                                                <i class="far fa-clock"></i><span>Step 3</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="background-task1">
                                                                        <div class="task-login-add-user1">
                                                                            <div class="bg">
                                                                                <div class=""><span>Mon, 8.00 Am</span></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                            </div>
                            <!-- KẾT THÚC SỰ KIỆN 3-->
                        </div>
                    </div>
                    <div class="taskmanager-sub main-sub-main-sub btn-sub-three">
                        <div class="change-class taskmanager-day">
                            <!-- SỰ KIỆN 4-->
                            <div class="event-4">
                                    <div class="taskmanager-brg d-flex p-2 mb-2">
                                            <div class="mr-auto">
                                                <div class="upload-btn-wrapper">
                                                    <button class="btn"><i class="fas fa-paperclip"></i><span>Add a
                                                            file</span></button>
                                                    <input type="file" name="myfile" />
                                                </div>
                                            </div>
                                        </div>
                            </div>
                            <!--KẾT THÚC SỰ KIỆN 4-->
                        </div>
                    </div>
                    <div class="taskmanager-sub main-sub-main-sub btn-sub-four">
                        <div class="change-class taskmanager-day input-text">
                            <!-- SỰ KIỆN 5-->
                            <textarea rows="3" cols="43" placeholder="Add a note"></textarea>
                            <!--KẾT THÚC SỰ KIỆN 5-->
                        </div>
                    </div>
                </div>
            </div>
                <div class="sheet-item-task-2">
                    <div class="taskmanager-sub main-sub-main-sub">
                        <div class="change-class taskmanager-day">
                            <!-- SỰ KIỆN 6-->
                           <div class="event-5">
                                <div class="board-task1 taskmanager-brg">
                                        <div class="pond1 btn-removetab">
                                            <div class="mr-auto title-task1">
                                                <div class="bg animated pulse infinite">
                                                    <div class="comback" onclick="removeTab1()">
                                                        <i class="fas fa-chevron-right"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pond-center">
                                            <div class="mr-auto title-task1">
                                                <div class="bg animated pulse infinite">
                                                    <p>Created 6 hours ago</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="background-task1">
                                            <div class="task-login-add-user1">
                                                <div class="bg mr-2" onclick="add_child2()">
                                                    <i class="far fa-trash-alt"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                           </div>
                            <!--KẾT THÚC SỰ KIỆN 6-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/vue-custom.js"></script>
    <script type="text/javascript" src="js/js.js"></script>
    <script type="text/javascript">
    function openTab1() {
        $(".item2").removeClass("items");
        $(".item2").addClass("item2x");
        $(".item3").css("display", "block");
    }

    function removeTab1() {
        $(".item2").removeClass("item2x");
        $(".item2").addClass("items");
        $(".item3").css("display", "none");
    }
    </script>
</body>

</html>